<!DOCTYPE html>
<html{{ with site.LanguageCode | default site.Language.Lang }} lang="{{ . }}" {{ end }}>

    <head>
        <title>{{ .Permalink }}</title>
        <link rel="canonical" href="{{ .Permalink }}" />
        <meta name="robots" content="noindex" />
        <meta charset="utf-8" />
<script>
                // Get the entry from the URL
                var entry = window.location.search.replace("?x=entry:", "");

                {{ range $array:= .Params.redirects }}
                if (entry === '{{ $array.entry }}') {
                    window.location.replace('{{ absURL $array.url }}');
                }
                {{ end }}
        </script>
    </head>
<body>
   Your page is being redirected.
<br>
<br>
   Go to https://blog.nathalieleenders.com if the redirect doesnt work, sorry!
<br>
<br>
   <a href="https://github.com/Nathalie-Leenders/nathalie-leenders.github.io/blob/main/assets/staycalmanimal.gif"><img src="https://blog.nathalieleenders.com"></a>

</body>
    </html>