.group-title {
    background-color: orange;
    color: $global-font-color;

    [theme=dark] & {

        color: $global-font-color-dark;
        background-color: darkgoldenrod;

    }




    [theme=black] & {

        color: $global-font-color-black;
        background-color: darkorange

    }
}